<div class="container text-light mt-5">
    <h1>Informações</h1>
    <p>
      Os <strong>campos</strong> dos formulários não são persistidos no banco de dados, são armazenados em localStorage e descartados ao finalizar o servidor do Angular.<br>
      Apenas os <strong>dados</strong> de preenchimento são armazenados no banco de dados.<br><br>
    </p>
    <p>
      O armazenamento se dá por combinação de chave-valor, a chave sendo o id do campo e o valor a resposta preenchida (ou escolhida, no caso de checkboxes).
    </p>
    <p>Exemplo de formulário:</p>
    <img src="assets/images/pic-2.png"><br><br>
  
    <p>Exemplo de preenchimento:</p>
    <img src="assets/images/pic-1.png"><br><br>
  
    <p>Armazenamento em banco de dados:</p>
    <img src="assets/images/pic-3.png" class="mb-5">
  </div>